# 
ASAAS_ACCESS_TOKEN=

# Ambiente da Asaas
ASAAS_ENV=production

# URL pub
BASE_URL=https://reposi1-production.up.railway.app

# URL 
FRONTEND_SUCCESS_URL=

# Chave de API do Resen
RESEND_API_KEY=

# Email 
EMAIL_FROM=onboarding@resend.dev

# Email que vai RECEBER 
EMAIL_TO=

PORT=8080
